:root {
  --black: #0f0f0f;
  --dark-gray: #1c1c1c;
  --red: #c62828;
  --white: #ffffff;
  --light-gray: #dcdcdc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--black);
  color: var(--light-gray);
  line-height: 1.6;
  
}

header {
  background-color: var(--dark-gray);
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

 nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

 nav a:hover {
  color: var(--red);
}

 main {
  padding: 2rem;
  margin-bottom: 1rem;
}
 h1{
  text-align: center;
  color: var(--white);
  margin-bottom: 2rem;
}

 h2,h3 {
  color: var(--white);
  margin-bottom: 1rem;
}

#last{
  margin-bottom: 1rem;
}

#list{
 margin-left: 1rem;
 margin-bottom: 2rem;
}

#_btnRozvrh{
  background-color: var(--light-gray);
}

#_btnRozvrh a{
 color: var(--dark-gray);
  text-decoration: none;
  font-weight: bold;
}

#_btnRozvrh a:hover{
 color: var(--white);
 background-color: var(--red);
} 
table {
  width: 35%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

th ,td {
  padding: 0.75rem 1.2rem; 
  text-align: left;
}


section {
  margin-bottom: 3rem;
}

footer {
  background-color: var(--dark-gray);
  text-align: center;
  padding: 1rem;
  color: var(--light-gray);
}


@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
}